/* font-family */
body {
    font-family: 'Merriweather', serif;
}

.header {
    width: 85%;
    max-width: 1640px;
    margin: 0 auto;
}

.happy {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    padding-top: 172px;
    /* margin-top: -30px; */


}

.new {
    color: #FFF;
    text-align: center;
    font-size: 62px;
    font-weight: 900;
    width: 632px;
    margin: 0 auto;
    padding-bottom: 100px;
    margin-top: -45px;
    /* height: 190px; */
}

.first-banner {

    border-radius: 16px;
    background-image: url("../resources/Bannerimg.png"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    width: 1280px;
    height: 600px;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;

}


/* off section start */
.of {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 74px;

}

.holyday {
    margin-top: -48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;


}

.category {
    margin-top: -40px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image1 {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 800px;
    height: 500px;
    align-items: center;
    margin: auto;
    margin-bottom: 120px;

}

/* welcome section start */
.welcome-section {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-size: cover;
    background-image: url("../resources/Vectorrr.png"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;

}

.welcome {
    margin: auto;
    padding-left: 60px;
}

.image2 {
    max-width: 320px;
    width: 319.83px;
    height: 464.662px;
    padding-left: -30px;

}

.welcome-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 900;
    width: 640px;
    /* 137.5% */
    letter-spacing: 7.04px;


}

.welcome-para {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;

}

.button-join {
    color: white;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

/* place section start */
.place1 {
    background-color: #FF0000, #FF000000;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-bottom: 140px;

}

span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    /* 175% */

}

.place-section {
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 400px;
    padding-top: 80px;

}

.place1 {
    text-align: center;
    align-items: center;
    margin-top: 80px;
}

.btn .btnn {
    border-radius: 8px;
    background: #F00;
    color: white;
    border: none;
    padding: 15px 28px;
    margin-top: 40px;
    font-size: 18px;
}

/* best-offer section start */
.best-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 0px;
}

.fast {
    max-width: 440px;
    /* margin-right: 1px; */
}

.heading {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.coming {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 37px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.descrive {
    margin-top: 17px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 392px;
    max-height: 120px;
    /* 160% */
}

.middle {

    border-radius: 50%;
    border: 15px solid #F00;
    margin-right: -10px;
}

.middle img {
    width: 324.844px;
    height: 324.844px;
    flex-shrink: 0;
    margin: 20px;


}



.upor h4 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;

}

.upor p {
    margin-top: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    width: 370px;
}

/* functional section star */
.text {
    margin-top: 100px;
    text-align: center;
}

.text h5 {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.text h2 {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 61px;
    font-weight: 900;
    margin-bottom: 28px;

}

.text h2 .span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

.text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    max-width: 1060px;
    height: 96px;
    text-align: center;
    margin: 0 auto;

}

.chobigula {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
}

.chobigula .chobi3 {
    background-position: bottom right;

}

.chobi2 img {

    height: 130px;
    width: 130px;
    position: relative;
    margin-right: -60px;
}

.chobi3 img {

    height: 200px;
    width: 200px;
    margin-bottom: -5px;
}

.chobi1 img {

    height: 300px;
    width: 300px;
    margin-bottom: -150px;
    margin-right: 150px;
    position: relative;
}

.chobi4 img {
    height: 120px;
    width: 800px;
    margin-bottom: 100px;
}

/* .functional{
    margin: 0 auto;
} */

.chobi {
    margin: 0 auto;

}

/* gift section start */
.gift {
    margin-top: 0px;
}

.gift-lal {
    color: #F00;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 0px;

}

.gift-tittle {
    margin-top: 10px;
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.gift-des {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 890pz;
}

.first-chobi {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.first-chobi img {
    margin-bottom: 0px;

}

.first-chobi img:hover {
    transform: scale(1.1);
    transition: 1s;

}

.last-chobi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-chobi img {
    margin-top: 24px;
}

.last-chobi img:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* subscribe section star */
.subscribe {
    margin-top: 100px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.image-sub img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: -20px;
}

.sub-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: -30px;

}

.sub-pera {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 820px;
    margin: 0 auto;


}

.form1 {
    padding-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 80px;
}

.form1 .textt {
    border-radius: 50px;
    background: #FFF;
    border: none;
    padding: 15px 28px;

}

.form1 .btnnn {
    margin-left: -20px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 15px 28px;
    color: white;
}

/* footer section start */

.footer {
    margin-top: 50px;
    background: #070211;
    color: white;
}

footer hr {
    margin: 30px;
    background: rgba(23, 23, 23, 0.15);
    background-color: #4b4a4a;
    width: 1320px;
    height: 0px;
    margin: 0 auto;
}

.fist-part {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;

}

.left {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;

}

.right p {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;

}

.image-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 64px;
    margin: 0 auto;

}

.sesh {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom:  80px;
}

.sesh-left {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;

}

.sesh-right {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;

}